Preparando el resumen semanal ($data.size() correo(s), $dataPinboard.size() enlace(s) de Pinboard y $data2Do.size() enlace(s) de Instapaper):

#foreach( $email in $data )
$email
#end
#foreach( $urlPinboard in $dataPinboard )
$urlPinboard
#end

Para hacer:
#foreach( $url in $data2Do )
$url
#end